body {
  font-family: "Catamaran", sans-serif;
  margin: auto;
  user-select: none;
  background-color: #F3F3F3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}


main {
  height: calc(100% - 62px);
  display: flex;
}

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* -------------------------------- left sidebar -------------------------------- */
#left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  width: 200px;
  border-right: black 1px solid;
  padding: 15px;
}

.datenav {
  width: 100%;
}

.datenav-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#datenav-up-btn, #datenav-down-btn {
  cursor: pointer;
}

.datenav-dates-div {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  row-gap: 8px;

  width: 100%;
  height: 150px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.datenav-dates-div p {
  margin: 0;
  line-height: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.datenav-today {
  border-radius: 50%;
  background-color: blue;
}

.datenav-selected {
  border-radius: 50%;
  background-color: rgb(135, 135, 192);
}

#right-sidebar {
  width: 18vw;
  height: 100%;
  border-left: black 1px solid;
  user-select: none;
  overflow: visible;
}

/* --------------------- navbar ----------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20%;
  height: 60px;
  -webkit-app-region: drag;
  border-bottom: black 1px solid;
  align-items: center;
}

.navbar button {
  -webkit-app-region: no-drag;
}

.navbar h3 {
  margin: 0;
}

.cal-date-controls {
  display: flex;
  float: right;
  gap: 5px;
  align-items: center;
}

.cal-date-controls button {
  border: none;
  border-radius: 10%;
  background-color: #e7e7e7;
  aspect-ratio: 1;
  cursor: pointer;
  height: 40px;
}

#current-month-btn {
  width: 60px;
  font-weight: bold;
}

.cal-date-controls button:hover {
  background-color: #e7e7e7ca;

}

.bold-icon {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 20;

  font-size: 20px;
}

.view-btn-div {
  /* border: 1px solid #b8b8b8; */
  border-radius: 8px;
  overflow: hidden;
}

.view-btn {
  background-color: #e7e7e7;
  border: none;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0 7px;
}

.view-btn span {
  vertical-align: middle;
}


/* ----------------------- calendar --------------------------------- */
.calendar {
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(to bottom right, rgb(245, 110, 110), rgb(128, 239, 145)); */
  border-radius: 1rem;
  height: 100%;
  padding: 10px;
}

.cal-header {
  margin-bottom: 0.3%;
}

.cal-header h2 {
  display: inline-block;
  margin-top: 0;
  font-weight: 500;
}

.cal-days-div {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5%;
  margin: auto;
  width: 100%;
}

.cal-day-div {
  background-color: #e0e0e07d;
}

.cal-day-div p {
  margin-left: 0.1vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-weight: 500;
  font-family: "Montserrat" sans-serif;
}

/* ---------------------- calendar dates ------------------------ */

.cal-dates-div {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5%;
  margin: auto;
  width: 100%;
  height: 100%;
  min-height: 0;
}


.cal-date-div {
  background-color: #e0e0e07d;
  overflow: hidden;
  min-height: 0;
  padding: 0.2vw;
  cursor: pointer;
}

.cal-date-div:focus {
  outline: none;
}

.cal-date-title {
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}

.current-date-icon {
  visibility: hidden;
  width: 1vw;
  height: 1vw;
  float: right;
  background-color: blue;
  border-radius: 50%;
  margin: 0.1vw
}

.current-date .current-date-icon {
  visibility: visible;
}

.date-selected {
  border: 1px blue solid;
}

/* ------------------- calendar events ---------------------------- */

.cal-event-div {
  display: flex;
  margin: 0.2vw 0;
  padding: 0.2vw 0;
}

.cal-event-div.event-selected {
  border: 1px solid blue;
}

.cal-event-div p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.cal-event-time {
  opacity: 80%;
  font-style: italic;
  margin-left: 0.3vw;
}

.cal-event-title {
  margin-left: 0.2vw;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* ---------------------------------- infobar --------------------------- */

.infobar-div {
  margin: 0 2vw;
}

.infobar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-event-btn {
  width: 40px;
  height: 40px;
  justify-self: baseline;
  border: none;
  border-radius: 10%;
  background-color: #6EBFED;
  cursor: pointer;
}

.add-event-btn:hover {
  background-color: #5ca1c9;
}

.infobar-event-div {
  border-top: 1px black solid;
  padding-top: 1vh;
  padding-top: 0.3vh;
}

.infobar-event-div:hover {
  background-color: #0000001a;
}

.infobar-event-div p {
  margin-top: 0;
  margin-bottom: 0;
}

.infobar-title {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.infobar-flex {
  display: flex;
  flex-direction: row;
}

.infobar-time {
  margin-right: 10px;
  white-space: nowrap;
}

.infobar-title {
  font-weight: 700;
}

.infobar-duration {
  font-style: italic;
  color: #000000a4;
}


/* --------- adialog --------------- */
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 18vw;
  padding: 0.5vw;

  background-color: #F3F3F3;
  border-radius: 1%;
  box-shadow: 0 0 5px #00000058;
}

.dialog-header {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 1vw;
}

.dialog h2 {
  line-height: 1;
  margin: 0;
}

.dialog hr {
  margin: 0 -0.5vw;
}


.form-flex {
  margin-top: 1.5vw;
  display: flex;
  justify-content: space-between;
}



.dialog-form input,
textarea {
  display: block;
  flex: 1;
  border: none;
  background-color: #D9D9D9;
  border-radius: 11px;
  max-width: 60%;
}

.dialog-form textarea {
  resize: none;
}

.form-submit-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10%;
  background-color: #6EBFED;
  cursor: pointer;
  margin-top: 1.2vw;
  float: right;
}

.dialog-form-submit:hover {
  background-color: #5ca1c9;
}

.blanket {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  backdrop-filter: blur(2px);
  background-color: #00000046;
}

.dialog-close-btn {
  cursor: pointer;
}

.dialog-close-btn:hover {
  transform: scale(1.1);
}

/* ------------- view event popup ------------------ */
.view-event-popup {
  z-index: 2;
  position: fixed;
  background-color: #F3F3F3;
  top: 100px;
  border-radius: 1vw;
  box-shadow: 0 0 1vw #00000075;
  padding: 0.5vw;
  visibility: hidden;
  min-width: 17vw;
  max-width: 25vw;
}

.view-event-popup p {
  max-width: 25vw;
  user-select: text;
}

#event-details-title {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  line-height: 1.2; 
}

.view-event-popup h2 {
  line-height: 1;
  margin: 0.5em 0;
  min-width: 56%;
  user-select: text;
}

.view-event-popup hr {
  margin: 0 -0.5vw;
}

.view-event-popup button:hover {
  transform: scale(1.1);
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.control-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}